/* Add mobile styles for the component here.  */
.segment {
  text-align: center;
  font-size: 14dpi;
  letter-spacing: -0.1;
  color: #008DC9;
  opacity: 1;
  width: 120dip;
  height: 49dip;
  background-color: white;
}

.barInfo {
  height:40dpi;
  font-size: 18dp;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.barLink {
  color: #008DC9;
  height:40dpi;
  font-size: 15dp;
  letter-spacing: 0;
  opacity: 1;
}
