<amway-section-bar sectionName="あなたへのおすすめ" navigationButtonLink="/cart" navigationButtonText="一覧へ"></amway-section-bar>

<ScrollView class="selectedContacts" orientation="horizontal">
    <StackLayout class="container" orientation="horizontal" class="p-b-10">
        <GridLayout
                *ngFor="let recommendation of recommendationList"
                rows="auto,auto,auto,auto,auto,auto"
                paddingRight="2"
        >
            <StackLayout orientation="vertical" width="170dip">
                <StackLayout padding="5">
                    <Image [src]="recommendation.url" stretch="aspectFill"
                           height="127dip" width="100%" class="rounded"></Image>
                    <Label [text]="recommendation.title" class="class1"></Label>
                    <Label [text]="recommendation.title1" class="class1"></Label>
                    <GridLayout columns="3*, *"  height="40">
                        <Label text="¥6,000" col="0"  height="40" width="100%"
                               textAlignment="left" class="class4"></Label>
                        <Label text="&#xf004;" class="fa t-20" col="1" height="40"
                               textAlignment="center" color="#008DC9"></Label>
                    </GridLayout>
                    <Button text="カートに入れる" width="120dpi" backgroundColor="#010101" color="white" borderRadius="17"></Button>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>



