<ActionBar flat="true" class="nt-action-bar">
    <Label text="Search"></Label>
</ActionBar>

<GridLayout>
    <ScrollView>
        <Button text="Button" (tap)="showModel()"></Button>
        <!--        <StackLayout>-->
        <!--            <StackLayout class="bottom-gradient" height="200" marginTop="16">-->
        <!--                <Label text="background: linear-gradient(to bottom, orangered, green, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--            <StackLayout class="left-gradient" height="200" marginTop="16">-->
        <!--                <Label text="background: linear-gradient(to left, orangered, green, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--            <StackLayout class="right-gradient" height="200" marginTop="16">-->
        <!--                <Label text="background: linear-gradient(to right, orangered, green, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--            <StackLayout class="degree-gradient" height="200" marginTop="16">-->
        <!--                <Label text="background: linear-gradient(45deg, orangered, green, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--            <StackLayout class="two-color-gradient" height="200" marginTop="16">-->
        <!--                <Label text="background: linear-gradient(-45deg, orangered, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--            <StackLayout class="background-image" height="200" marginTop="16">-->
        <!--                <Label text="background-image:linear-gradient(to bottom, orangered, green, lightblue);" textWrap="true" ></Label>-->
        <!--            </StackLayout>-->
        <!--        </StackLayout>-->
    </ScrollView>
</GridLayout>
